* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "GUNPLAY_.ttf";
    src: url("GUNPLAY_.ttf") format('truetype');
}

.menu {
    font-family: "GUNPLAY_.ttf", "sans-serif";
    font-size: 2em;
}

@font-face {
    font-family: "Shrikhand-Regular";
    src: url("Shrikhand-Regular.ttf") format('truetype');
}

.brand h2 {
    font-family: "Shrikhand-Regular", "sans-serif";
}

@font-face {
    font-family: "batmfo__.ttf";
    src: url("batmfo__.ttf") format('truetype');
}

body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.5em;
    z-index: 5;
    position: fixed;
}

.brand {
    margin-right: 20px;
}

.wrapper {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 2rem;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}

.menu li {
    list-style: none;
}

.menu li a {
    color: #0066ff;
    text-decoration: none;
    padding: 0.5rem;
}

.menu li a:hover {
    color: #0d1d47;
}

.menu li a:hover {
    background-color: rgb(98, 0, 255);
    color: #191c32;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("chiquitos.jpg");
    background-size: cover;
}

.bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0;
    animation: changeBackground 19.25s infinite;
    z-index: -1;
}

.bg-layer:nth-child(1) {
    background-image: url("chiquitos.jpg"); 
    animation-delay: 0s;
}

.bg-layer:nth-child(2) {
    background-image: url("images1.jpg"); 
    animation-delay: 4.81s; 
}

.bg-layer:nth-child(3) {
    background-image: url("images2.jpg"); 
    animation-delay: 9.62s; 
}

.bg-layer:nth-child(4) {
    background-image: url("3am-1.jpg"); 
    animation-delay: 14.43s; 
}

@keyframes changeBackground {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.albumes {
    width: 100%;
    margin: 3%;
    flex-direction: row;
    z-index: 1;
    position: relative;
    text-align: center;
}

.titulo2 {
    font-family: "batmfo__.ttf", "sans-serif";
    color: rgb(223, 26, 26);
    font-size: 90px;
    text-align: center;
    padding: 10px;
    z-index: 1;
    position: relative;
}

.album1,
.album2 { 
    display: inline-block;
    padding: 1.5%;
    width: 40%;
    height: 100%;
    flex: 1;
}

.titulo1 {
    font-family: "batmfo__.ttf", "sans-serif";
    color: rgb(223, 26, 26);
    font-size: 90px;
    text-align: center;
    padding: 10px;
    position: relative;
}

.disqueria {
    width: 100%;
    margin: 3%;
    flex-direction: row;
    position: relative;
}

.container1,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7,
.container8,
.container9,
.container10,
.container11,
.container12,
.container13,
.container14,
.container16,
.container17,
.container18,
.container19,
.container20,
.container21,
.container22,
.container23,
.container24,
.container25,
.container26 {
    display: inline-block;
    padding: 1.5%;
    width: 23%;
    height: 30%;
    flex: 1;
}

.alerta {
    display: none;
}

@media (max-width: 400px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 1em 0;
    }

    .brand {
        margin: 10px 0;
    }

    .wrapper {
        padding: 1rem;
    }

    .menu {
        flex-direction: column;
    }

    .menu li a {
        padding: 0.8rem 0;
    }

    .bg-layer {
        display: none; /* Ocultar las capas de fondo en dispositivos móviles para evitar conflictos visuales */
    }

    .titulo1,
    .titulo2 {
        font-size: 40px; /* Reducir el tamaño del texto de los títulos */
    }

    .album1,
    .album2,
    .container1,
    .container2,
    .container3,
    .container4,
    .container5,
    .container6,
    .container7,
    .container8,
    .container9,
    .container10,
    .container11,
    .container12,
    .container13,
    .container14,
    .container16,
    .container17,
    .container18,
    .container19,
    .container20,
    .container21,
    .container22,
    .container23,
    .container24,
    .container25,
    .container26 {
        width: 100%; /* Hacer que los elementos dentro de .albumes y .disqueria ocupen el ancho completo */
        padding: 2%; /* Ajustar el padding para mantener un espaciado adecuado */
    }
}
.anuncio{
    display: none;
}

@media (max-width: 400px) {
    .anuncio {
        background:transparent;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        z-index: 1000;
        position: absolute;
        top: 0;
        width: 100%;
     }
     .anuncio img{
        width: 100%;
     }
     .album1,
     .album2,
     .container1,
     .container2,
     .container3,
     .container4,
     .container5,
     .container6,
     .container7,
     .container8,
     .container9,
     .container10,
     .container11,
     .container12,
     .container13,
     .container14,
     .container16,
     .container17,
     .container18,
     .container19,
     .container20,
     .container21,
     .container22,
     .container23,
     .container24,
     .container25,
     .container26{
        display: none;
     }
     body{
        background-color: #e6dfd4;
     }
     .background{
        display: none;
     }
}
